@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
  margin-bottom: 60px;
	margin: 0;
	background: #55d6aa;
	font-family: 'Work Sans', helvetica, arial, sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.menu {
  
}

header {
  /*background: #55d6aa;*/
  background-image: 
  linear-gradient(-150deg, #55d6aa, #03B4DA, #4BCDA2,
  #55d6aa, #03B4DA, #4BCDA2);
  
  border-bottom: 3px solid;
  border-color: #276D56;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/*media only screen and (max-device-width: 800px) {
  
    logo center 
}*/

.logo {
  float: left;
  padding: 10px 0;
  width: 110px;
  transition: width 5s;
  transition: filter 2s;
  
}

.logo:hover {
  transition-timing-function: ease-in-out;
  width: 113px;
  filter: saturate(200%);
  
}

navbar {
  float: right;
}

navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

navbar li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

navbar a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 2px 2px 10px #FFF;
}

navbar a:hover {
  color: #000;
  text-shadow: 2px 2px 2px #9D9E9E;
}

navbar a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

navbar a:hover::before {
  width: 100%;
}

/* Kontent Kezdő */

.content{
  background: #369072;
}

.section{
  padding: 19px 16px 19px 16px;
}

.section2{
  padding: 0px 2px 0px 2px;
  background: #276D56;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.section3{
  padding: 7px 10px 7px 10px;
  background-color: #4BCDA2;

  background-size: 100px;
  
  padding-left: 15px;
  
}


.column {
  float: left;
  
}

.leftCol {
  width: 70%;
  
}

.rightCol {
  width: 30%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  
}

.flex-container > div {
  background-color: #55d6aa;
  
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 1.2;
  
  //line-height: 300px;
  //font-size: 30px;
  
  padding-bottom: 2px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}



.content-box > a , .content-box > a:visited , .content-box > a:hover , .content-box > a:focus , .content-box > a:hover , .content-box > a:active{
    text-decoration: none;
    color: black;
  
}


.content-box:hover{
  border: 1px solid blue;
}




.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* Kontent Záró */



footer{
  /*background: #55d6aa;*/
  text-align: center;
  
  border-top: 3px solid;
  border-color: #276D56;
  /*border-bottom: 3px solid;*/
  border-color: #276D56;
}

footer div{
  /*background: #55d6aa;*/
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  
  background-image: linear-gradient(-90deg, #55d6aa, #03B4DA, #55d6aa,
  #55d6aa, #03B4DA, #4BCDA2);
}

